<div class="topnav d-flex flex-row justify-content-between">
  <div class="site-logo">
    <a [routerLink]="['']" class="title"><img src="assets/logo.png" /></a>
  </div>
  <div>
    <a [routerLink]="['']" class="menu-item">Home</a>
    <a [routerLink]="['library']" class="menu-item">Movies</a>
    <a
      [routerLink]="['admin']"
      class="menu-item"
      *ngIf="authenticationService.isLoggedIn()"
      >Administration</a
    >
    <a
      (click)="logOut()"
      class="menu-item"
      *ngIf="authenticationService.isLoggedIn()"
      >Log out</a
    >
    <a
      (click)="logIn()"
      class="menu-item"
      *ngIf="!authenticationService.isLoggedIn()"
      >Log in</a
    >
  </div>
</div>
