@import "../../variables.scss";
.topnav {
  background-color: $color-secondary;
  overflow: hidden;
  border-bottom: 2px solid $color-contrast;
  padding: 1rem;
}

.topnav .menu-item {
  float: left;
  color: $color-accent;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .menu-item:hover {
  color: $color-contrast;
}

.site-logo {
  max-height: 60px;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.menu-item {
  cursor: pointer;
}
