<div class="d-flex flex-wrap justify-content-around p-3 top-container">
  <div *ngIf="!isInitialized" class="h-100 d-flex">
    <mat-spinner class="align-self-center"></mat-spinner>
  </div>
  <div *ngIf="isInitialized" class="h-100 w-100 d-flex flex-wrap">
    <div class="card my-3 zoom" *ngFor="let movie of movies">
      <a [routerLink]="['/movie', movie.movie?.id]">
        <img
          class="card-img-top"
          src="{{ movie.movie?.image }}"
          alt="{{ movie.movie?.title }}"
      /></a>
    </div>
  </div>
</div>
