@import "../variables.scss";

.card {
  width: 18rem;
  background-color: $color-base;
  color: $color-accent;
  border-radius: 0;
}

.card-img-top {
  border-radius: 0;
}

.btn-primary {
  background-color: $color-base;
  color: $color-accent;
  border-color: $color-contrast;
  border-width: thin;
}

.zoom {
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.top-container {
  min-height: 100vh;
}

.card-create {
  border: 1px solid $color-contrast;
  border-radius: 5px;
}
