<div class="container top-container">
  <div
    *ngIf="!isInitialized"
    class="d-flex justify-content-center align-items-center h-100"
  >
    <div *ngIf="!isInitialized" class="h-100 d-flex">
      <mat-spinner class="align-self-center"></mat-spinner>
    </div>
  </div>

  <div *ngIf="isInitialized" class="p-3">
    <div class="row d-flex justify-content-end">
      <a
        routerLink="/admin/categoryDetails/0"
        class="add-category d-flex justify-content-center align-items-center"
        ><fa-icon [icon]="faPlus" class="fa-lg"></fa-icon
      ></a>
    </div>
    <div class="row mt-2">
      <table class="table">
        <thead>
          <tr>
            <th class="w-15" scope="col">ID</th>
            <th class="w-25" scope="col">Name</th>
            <th class="w-25" scope="col">Price</th>
            <th class="w-15" scope="col">Edit</th>
            <th class="w-15" scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <th class="w-15" scope="row">{{ category.id }}</th>
            <td class="w-25">{{ category.name }}</td>
            <td class="w-25">€{{ category.price }}</td>
            <td class="w-15">
              <fa-icon
                [icon]="faEdit"
                class="fa-2x icon-link"
                (click)="editCategory(category)"
              ></fa-icon>
            </td>
            <td class="w-15">
              <fa-icon
                [icon]="faTrash"
                class="fa-2x icon-link"
                data-toggle="modal"
                data-target="#deleteModal"
                (click)="onCategorySelect(category)"
              ></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--modal-->

<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Category</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this category?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteCategory()"
          data-dismiss="modal"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
