@import "../variables.scss";
.top-container {
  min-height: 80vh;
}

.table {
  color: $color-accent;
  border-color: $color-base;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-5 {
  width: 5%;
}

.icon-link {
  cursor: pointer;
}

.icon-link:hover {
  color: $color-contrast;
}

.add-category {
  border: 1px solid $color-contrast;
  border-radius: 5px;
  color: $color-contrast;
  height: 30px;
  width: 30px;
}

.modal-content {
  background-color: $color-secondary;
  color: $color-accent;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}
