@import "../variables.scss";

.btn-primary {
  border-color: $color-contrast;
  background-color: $color-base;
  color: $color-accent;
}

.btn-primary:hover {
  color: $color-contrast;
}

.card {
  background-color: $color-base;
  color: $color-accent;
  border: 1px solid $color-contrast;
}
