<div *ngIf="schedule"></div>

<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">
      {{ schedule?.schedule?.startTime | date: "fullDate" }}
    </h5>
    <h5 class="card-title mt-0">
      {{ schedule?.schedule?.startTime | date: "shortTime" }}
    </h5>
    <div class="mb-3">
      Seats taken:
      <mat-progress-bar
        mode="determinate"
        value="{{ schedule?.percentageTakenSeats }}"
      ></mat-progress-bar>
    </div>
    <a href="#" class="btn btn-primary">Get a ticket</a>
  </div>
</div>
