<div class="d-flex justify-content-center p-5 create-category">
  <div *ngIf="!isInitialized">
    <div *ngIf="!isInitialized" class="h-100 d-flex">
      <mat-spinner class="align-self-center"></mat-spinner>
    </div>
  </div>

  <div *ngIf="isInitialized" class="w-100 d-flex justify-content-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-50">
      <h1>{{ isActionCreate ? "Create new" : "Edit" }} category</h1>
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          id="name"
          type="text"
          class="form-control"
          formControlName="name"
        />
        <div
          *ngIf="
            form.controls['name'].invalid &&
            (form.controls['name'].dirty || form.controls['name'].touched)
          "
        >
          <div
            *ngIf="form.controls['name'].errors?.required"
            class="error-message"
          >
            Name is required
          </div>
          <div
            *ngIf="form.controls['name'].errors?.minlength"
            class="error-message"
          >
            Name must not be shorter than 2 characters
          </div>
          <div
            *ngIf="form.controls['name'].errors?.maxlength"
            class="error-message"
          >
            Name must not be longer than 30 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price:</label>
        <input
          id="price"
          type="number"
          class="form-control"
          formControlName="price"
        />
        <div
          *ngIf="
            form.controls['price'].invalid &&
            (form.controls['price'].dirty || form.controls['price'].touched)
          "
        >
          <div
            *ngIf="form.controls['price'].errors?.required"
            class="error-message"
          >
            Price is required
          </div>
          <div *ngIf="form.controls['price'].errors?.min" class="error-message">
            Price must not be below €0.01
          </div>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
