@import "../variables.scss";

.create-category {
  color: $color-accent;
}

.btn-primary {
  background-color: $color-base;
  color: $color-accent;
  border-color: $color-contrast;
}

.error-message {
  color: $color-alert;
}

.col-form {
  padding: 0px;
}
