<div class="d-flex flex-wrap justify-content-around p-3 top-container">
  <div *ngIf="!isInitialized" class="h-100 d-flex">
    <mat-spinner class="align-self-center"></mat-spinner>
  </div>
  <div class="w-100" *ngIf="isInitialized">
    <form [formGroup]="form" class="w-25 d-flex">
      <div class="form-group">
        <input
          type="search"
          id="search"
          class="form-control"
          placeholder="search..."
          formControlName="search"
          (keyup)="searchChanged()"
        />
      </div>
      <div class="form-group ml-2">
        <select
          class="form-control"
          (change)="searchChanged()"
          formControlName="filterType"
        >
          <option *ngFor="let type of filterType" [ngValue]="type">
            {{ type }}
          </option>
        </select>
      </div>
    </form>

    <div class="row">
      <div class="card my-3 zoom" *ngFor="let schedule of shownSchedules">
        <a [routerLink]="['/movie', schedule.schedule.movieRef.id]">
          <div class="overlay"></div>
          <img
            class="card-img-top"
            src="{{ schedule.schedule.movieRef.image }}"
            alt="{{ schedule.schedule.movieRef.title }}"
            width="260"
            height="320"
          />
          <div class="movie-title">
            {{ schedule.schedule.movieRef.title }}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
