@import "../variables.scss";

.card {
  width: 18rem;
  background-color: $color-base;
  color: $color-accent;
  border-radius: 0;
  transition: all 0.5ms ease-in-out;
}

.card-img-top {
  border-radius: 0;
}

.btn-primary {
  background-color: $color-base;
  color: $color-accent;
  border-color: $color-contrast;
  border-width: thin;
}

.zoom {
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.top-container {
  min-height: 100vh;
}

.movie-title {
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 2rem;
  color: $color-accent;
  font-weight: 700;
  transition: all 0.5ms ease-in-out;
}

.card:hover .movie-title {
  opacity: 1;
  transition: all 0.5ms ease-in-out;
}

.overlay {
  background-color: #000000;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5ms ease-in-out;
}

.card:hover .overlay {
  opacity: 0.7;
  transition: all 0.5ms ease-in-out;
}
