<div class="d-flex justify-content-center p-5 create-movie">
  <div *ngIf="!isInitialized">
    <div *ngIf="!isInitialized" class="h-100 d-flex">
      <mat-spinner class="align-self-center"></mat-spinner>
    </div>
  </div>

  <div *ngIf="isInitialized" class="w-100 d-flex justify-content-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-50">
      <h1>{{ isActionCreate ? "Create new" : "Edit" }} movie</h1>
      <div class="form-group">
        <label for="title">Title:</label>
        <input
          id="title"
          type="text"
          class="form-control"
          formControlName="title"
        />
        <div
          *ngIf="
            form.controls['title'].invalid &&
            (form.controls['title'].dirty || form.controls['title'].touched)
          "
        >
          <div
            *ngIf="form.controls['title'].errors?.required"
            class="error-message"
          >
            Title is required
          </div>
          <div
            *ngIf="form.controls['title'].errors?.minlength"
            class="error-message"
          >
            Title must not be shorter than 2 characters
          </div>
          <div
            *ngIf="form.controls['title'].errors?.maxlength"
            class="error-message"
          >
            Title must not be longer than 196 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input
          id="description"
          type="text"
          class="form-control"
          formControlName="description"
        />
        <div
          *ngIf="
            form.controls['description'].invalid &&
            (form.controls['description'].dirty ||
              form.controls['description'].touched)
          "
        >
          <div
            *ngIf="form.controls['description'].errors?.maxlength"
            class="error-message"
          >
            Description must not be longer than 500 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="length">Length (minutes):</label>
        <input
          id="length"
          type="number"
          class="form-control"
          formControlName="length"
        />
        <div
          *ngIf="
            form.controls['length'].invalid &&
            (form.controls['length'].dirty || form.controls['length'].touched)
          "
        >
          <div
            *ngIf="form.controls['length'].errors?.required"
            class="error-message"
          >
            Length is required.
          </div>
          <div
            *ngIf="form.controls['length'].errors?.min"
            class="error-message"
          >
            Movie length must not be below 0.
          </div>
          <div
            *ngIf="form.controls['length'].errors?.max"
            class="error-message"
          >
            Movie length must not be higher than {{ MAX_LENGTH }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="image">Image Link:</label>
        <input
          id="image"
          type="url"
          class="form-control"
          formControlName="image"
        />
        <div
          *ngIf="
            form.controls['image'].invalid &&
            (form.controls['image'].dirty || form.controls['image'].touched)
          "
        >
          <div
            *ngIf="form.controls['image'].errors?.pattern"
            class="error-message"
          >
            Image field needs to be an url.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="trailerLink">Trailer Link:</label>
        <input
          id="trailerLink"
          type="url"
          class="form-control"
          formControlName="trailerLink"
        />
        <div
          *ngIf="
            form.controls['trailerLink'].invalid &&
            (form.controls['trailerLink'].dirty ||
              form.controls['trailerLink'].touched)
          "
        >
          <div
            *ngIf="form.controls['trailerLink'].errors?.pattern"
            class="error-message"
          >
            Trailer link needs to be an url.
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col col-form mr-2">
            <div class="form-group">
              <label for="actors">Actors:</label>
              <select multiple formControlName="actors" class="form-control">
                <option *ngFor="let actor of actorList" [ngValue]="actor">
                  {{ actor.firstName }} {{ actor.lastName }}
                </option>
              </select>
            </div>
          </div>
          <div class="col col-form ml-2">
            <div class="form-group">
              <label for="genres">Genres:</label>
              <select multiple formControlName="genres" class="form-control">
                <option *ngFor="let genre of genreList" [ngValue]="genre">
                  {{ genre.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
