<div class="container top-container">
  <div
    *ngIf="!isInitialized"
    class="d-flex justify-content-center align-items-center h-100"
  >
    <div *ngIf="!isInitialized" class="h-100 d-flex">
      <mat-spinner class="align-self-center"></mat-spinner>
    </div>
  </div>

  <div *ngIf="isInitialized">
    <div class="row d-flex justify-content-end p-3">
      <a
        routerLink="/admin/movieDetails/0"
        class="add-movie d-flex justify-content-center align-items-center"
        ><fa-icon [icon]="faPlus" class="fa-lg"></fa-icon
      ></a>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th class="w-5" scope="col">ID</th>
            <th class="w-15" scope="col">Title</th>
            <th class="w-25" scope="col">Description</th>
            <th class="w-10" scope="col">Length</th>
            <th class="w-10" scope="col">Edit</th>
            <th class="w-10" scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movies">
            <th class="w-5" scope="row">{{ movie.movie.id }}</th>
            <td class="w-15">{{ movie.movie.title }}</td>
            <td class="w-25">{{ movie.movie.description }}</td>
            <td class="w-10">{{ movie.movie.length }}</td>
            <td class="w-10">
              <fa-icon
                [icon]="faEdit"
                class="fa-2x icon-link"
                (click)="editMovie(movie)"
              ></fa-icon>
            </td>
            <td class="w-10">
              <fa-icon
                [icon]="faTrash"
                class="fa-2x icon-link"
                data-toggle="modal"
                data-target="#exampleModal"
                (click)="onMovieSelect(movie)"
              ></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--modal-->

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete movie</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Are you sure you want to delete this movie?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteMovie()"
          data-dismiss="modal"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
