@import "../variables.scss";
.top-container {
  min-height: 100vh;
  color: $color-accent;
}

.card {
  background-color: $color-secondary;
  color: $color-accent;
  box-shadow: 5px 5px 15px 5px#000000;
}

.btn-primary {
  border-color: $color-contrast;
  background-color: $color-base;
  color: $color-accent;
}

.btn-primary:hover {
  color: $color-contrast;
}

.movie-details {
  padding-left: 0;
  padding-right: 30px;
}

.border-none {
  border: 0px;
}

.schedule-details {
  margin: 10px;
}
