<div class="p-3 container top-container">
  <div *ngIf="!isInitialized" class="h-100 d-flex">
    <mat-spinner class="align-self-center"></mat-spinner>
  </div>

  <div class="row w-100">
    <div class="card w-100">
      <div class="card-body">
        <div *ngIf="movie" class="w-100">
          <div class="container">
            <div class="row w-100">
              <div class="col-4">
                <img
                  src="{{ movie.movie.image }}"
                  alt="{{ movie.movie.title }}"
                  class="w-100 h-100"
                />
              </div>
              <div class="col-8">
                <h1>{{ movie.movie.title }}</h1>
                <p>{{ movie.movie.description }}</p>
                <p>Length: {{ movie.movie.length }} minutes</p>
                <div class="container">
                  <div class="row">
                    <div class="col movie-details h-100">
                      <div class="card border-none">
                        <div class="card-body">
                          <h5 class="card-title align-self-center">Actors</h5>
                          <div *ngFor="let actor of movie.actors">
                            {{ actor.firstName }} {{ actor.lastName }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col movie-details h-100">
                      <div class="card border-none">
                        <div class="card-body">
                          <h5 class="card-title">Genres</h5>
                          <div *ngFor="let genre of movie.genres">
                            {{ genre.name }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <a
                    href="{{ movie.movie.trailerLink }}"
                    type="button"
                    class="btn btn-primary"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Watch the trailer</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 w-100">
    <div class="card w-100">
      <div class="card-body w-100">
        <h1 class="card-title align-self-center">Schedules</h1>
        <div class="d-flex flex-wrap">
          <div *ngFor="let schedule of schedules" class="schedule-details">
            <schedule-details [schedule]="schedule"></schedule-details>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
