<div class="d-flex justify-content-center p-5 create-schedule">
  <div *ngIf="!isInitialized">
    <div *ngIf="!isInitialized" class="h-100 d-flex">
      <mat-spinner class="align-self-center"></mat-spinner>
    </div>
  </div>

  <div *ngIf="isInitialized" class="w-100 d-flex justify-content-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-50">
      <h1>{{ isActionCreate ? "Create new" : "Edit" }} schedule</h1>
      <div class="w-50 p-3" [ngClass]="{ errors: errors.length > 0 }">
        <div *ngFor="let error of errors">{{ error }}</div>
      </div>
      <div class="form-group">
        <label for="datePicker">Start Date and time:</label>

        <input
          formControlName="startTime"
          class="form-control"
          type="datetime-local"
          id="datePicker"
        />
      </div>

      <div class="form-group">
        <label for="movie">Movie:</label>

        <select formControlName="movie" class="form-control" id="movie">
          <option *ngFor="let movie of movies" [ngValue]="movie">
            {{ movie.movie.title }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="cinemaHall">Cinema Hall:</label>

        <select
          formControlName="cinemaHall"
          class="form-control"
          id="cinemaHall"
        >
          <option *ngFor="let cinemaHall of cinemaHalls" [ngValue]="cinemaHall">
            {{ cinemaHall.cinemaHall.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
