@import "../variables.scss";

.create-schedule {
  color: $color-accent;
}

.btn-primary {
  background-color: $color-base;
  color: $color-accent;
  border-color: $color-contrast;
}

.errors {
  border: 1px solid $color-alert;
  border-radius: 5px;
  color: $color-accent;
}
