@import "../variables.scss";

.nav-link {
  background-color: $color-accent;
  border: 1px solid $color-contrast;
}

.nav-link.active {
  background-color: $color-secondary;
  color: $color-accent;
  border: 1px solid $color-contrast;
  border-bottom: none;
}

.nav-tabs {
  border: none;
  cursor: pointer;
}

.tab-content {
  background-color: $color-secondary;
}

.admin-container {
  min-height: 100vh;
}
