<div class="m-5 admin-container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <div
        class="nav-link active"
        (click)="onTabSelect('Movies')"
        [ngClass]="{ active: selectedTab == 'Movies' }"
      >
        Movies
      </div>
    </li>
    <li class="nav-item">
      <div
        class="nav-link"
        (click)="onTabSelect('Schedules')"
        [ngClass]="{ active: selectedTab == 'Schedules' }"
      >
        Schedules
      </div>
    </li>
    <li class="nav-item">
      <div
        class="nav-link"
        (click)="onTabSelect('Cinema Halls')"
        [ngClass]="{ active: selectedTab == 'Cinema Halls' }"
      >
        Cinema Halls
      </div>
    </li>
    <li class="nav-item">
      <div
        class="nav-link"
        (click)="onTabSelect('Row Categories')"
        [ngClass]="{ active: selectedTab == 'Row Categories' }"
      >
        Row Categories
      </div>
    </li>
  </ul>
  <div class="tab-content">
    <div *ngIf="selectedTab == 'Movies'"><movie-list></movie-list></div>
    <div *ngIf="selectedTab == 'Schedules'">
      <schedules-list></schedules-list>
    </div>
    <div *ngIf="selectedTab == 'Cinema Halls'">
      <cinema-hall-list></cinema-hall-list>
    </div>
    <div *ngIf="selectedTab == 'Row Categories'">
      <row-category-list></row-category-list>
    </div>
  </div>
</div>
