@import "../variables.scss";

.hall-form {
  color: $color-accent;
}

.error-message {
  color: $color-alert;
}

.btn-primary {
  background-color: $color-base;
  color: $color-accent;
  border-color: $color-contrast;
}
