<div class="hall-form w-100 d-flex justify-content-center">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-50">
    <h1>{{ isActionCreate ? "Create new" : "Edit" }} Cinema Hall</h1>
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        id="name"
        type="text"
        class="form-control"
        formControlName="name"
      />
      <div
        *ngIf="
          form.controls['name'].invalid &&
          (form.controls['name'].dirty || form.controls['name'].touched)
        "
      >
        <div
          *ngIf="form.controls['name'].errors?.required"
          class="error-message"
        >
          Name is required
        </div>
        <div
          *ngIf="form.controls['name'].errors?.minlength"
          class="error-message"
        >
          Name must not be shorter than 1 character
        </div>
        <div
          *ngIf="form.controls['name'].errors?.maxlength"
          class="error-message"
        >
          Name must not be longer than 45 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="numOfSeatsPerRow">Number of seats per row:</label>
      <input
        id="numOfSeatsPerRow"
        type="number"
        class="form-control"
        formControlName="numOfSeatsPerRow"
      />
      <div
        *ngIf="
          form.controls['numOfSeatsPerRow'].invalid &&
          (form.controls['numOfSeatsPerRow'].dirty ||
            form.controls['numOfSeatsPerRow'].touched)
        "
      >
        <div
          *ngIf="form.controls['numOfSeatsPerRow'].errors?.required"
          class="error-message"
        >
          Number of seats per row must not be empty
        </div>
        <div
          *ngIf="form.controls['numOfSeatsPerRow'].errors?.min"
          class="error-message"
        >
          Number of seats per row must not be less than 1
        </div>
        <div
          *ngIf="form.controls['numOfSeatsPerRow'].errors?.max"
          class="error-message"
        >
          Number of seats per row must not be higher than 30
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Rows:</label>
      <div *ngFor="let i of categoryCount" class="mt-2">
        <label>Row {{ i }}:</label>
        <select
          class="form-control"
          (change)="onRowSelectChange($event.target?.value, i)"
        >
          <option *ngFor="let category of allCategories" [ngValue]="category">
            {{ category.name }}
          </option>
        </select>
      </div>
      <button
        type="button"
        (click)="addCategory()"
        class="btn btn-primary mt-3"
      >
        Add row
      </button>
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
        Submit
      </button>
    </div>
  </form>
</div>

<div class="preview"></div>
