<div class="container w-75 top-container">
  <div
    *ngIf="!isInitialized"
    class="d-flex justify-content-center align-items-center h-100"
  >
    <div *ngIf="!isInitialized" class="h-100 d-flex">
      <mat-spinner class="align-self-center"></mat-spinner>
    </div>
  </div>

  <div *ngIf="isInitialized">
    <div class="row d-flex p-3 justify-content-between">
      <div class="w-75">
        <div class="w-50 p-3" [ngClass]="{ errors: errors.length > 0 }">
          <div *ngFor="let error of errors">{{ error }}</div>
        </div>

        <div class="w-50 p-3" [ngClass]="{ success: success.length > 0 }">
          <div *ngFor="let s of success">{{ s }}</div>
        </div>
      </div>
      <div>
        <a
          routerLink="/admin/scheduleDetails"
          class="add-movie d-flex justify-content-center align-items-center"
          ><fa-icon [icon]="faPlus" class="fa-lg"></fa-icon
        ></a>
      </div>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th class="w-25" scope="col">Start Time</th>
            <th class="w-5" scope="col">Cinema Hall ID</th>
            <th class="w-15" scope="col">Cinema Hall Name</th>
            <th class="w-5" scope="col">Movie ID</th>
            <th class="w-25" scope="col">Movie Title</th>
            <th class="w-10" scope="col">Edit</th>
            <th class="w-10" scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let schedule of schedules">
            <th class="w-25" scope="row">
              {{ schedule.schedule.startTime | date: "dd.MM.y - HH:mm:ss" }}
            </th>
            <td class="w-5">{{ schedule.schedule.cinemaHallRef.id }}</td>
            <td class="w-15">{{ schedule.schedule.cinemaHallRef.name }}</td>
            <td class="w-5">{{ schedule.schedule.movieRef.id }}</td>
            <td class="w-25">{{ schedule.schedule.movieRef.title }}</td>
            <td class="w-10">
              <fa-icon
                [icon]="faEdit"
                class="fa-2x icon-link"
                (click)="editSchedule(schedule)"
              ></fa-icon>
            </td>
            <td class="w-10">
              <fa-icon
                [icon]="faTrash"
                class="fa-2x icon-link"
                data-toggle="modal"
                data-target="#deleteModal"
                (click)="onScheduleSelect(schedule)"
              ></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--modal-->

<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete schedule</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this schedule?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteSchedule()"
          data-dismiss="modal"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
